@sug-prefix-cls: ~"@{xcui-prefix}-suggestion";

.@{sug-prefix-cls} {
    position: relative;
    display: inline-block;
    &-list-wrap {
        margin: 5px 0;
        padding: 5px 0;
        box-shadow: @drop-down-boxshadow;
        max-height: 280px;
        overflow: auto;
        border: 1px solid @border-color-base;
        border-radius: 2px;
        box-sizing: border-box;
        background-color: @body-bg;
        ul.x-suggestion-list {
            margin: 0;
            padding: 0;
            li {
                font-size: @font-size-base;
                color: @drop-down-text-color;
                list-style: none;
                cursor: pointer;
                line-height: 1;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin: 0;
                padding: 10px 15px;
                &:hover, &.active {
                    background: @drop-down-hover-bg;
                    .transition(~"background .3s ease");
                }
            }
        }
    }
}