.zoom-motion(@className, @keyframeName, @duration) {
    .@{className}-enter-active {
        animation: @duration ~"@{keyframeName}In" @ease-out-circ;
    }
    .@{className}-leave-active {
        animation: @duration ~"@{keyframeName}Out" @ease-in-out-circ;
    }
}

// modal
.zoom-motion(modal-zoom, xZoom, @animation-duration-base);

// tooltip
.zoom-motion(tooltip-zoom, xZoomFast, @animation-duration-fast);

// popover
.zoom-motion(popover-zoom, xZoomFast, @animation-duration-base);



// for modal

@keyframes xZoomIn {
    0% {
      .scale(1.1);
      opacity: 0;
    }
    100% {
      .scale(1);
      opacity: 1;
    }
  }

@keyframes xZoomOut {
    0% {
      .scale(1);
      opacity: 1;
    }
    100% {
      .scale(1.1);
      opacity: 0;
    }
}

// tooltip / popover

@keyframes xZoomFastIn {
  0% {
    opacity: 0;
    .scale(.7);
  }
  100% {
    opacity: 1;
    .scale(1);
  }
}

@keyframes xZoomFastOut {
  0% {
    opacity: 1;
    .scale(1);
  }
  100% {
    opacity: 0;
    .scale(.7);
  }
}

